body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
canvas#c {
    background-color: #000;
}



#dropzone {
	position: absolute;
	text-align: center;
	left: 0;
	top: 0;
	
	float:left;
/*	background-color: #ffffff;
	border: solid 3px #ffffff;
	color: #ffffff;
*/
	min-height: 50px;
	width: 90px;
	height: 90px;
	padding: 20px;
	text-shadow: 1px 1px 0 #fff;
}
#dropzone a{
	position: absolute;
	left: 40%;
	bottom: 0;
}

#dropzone.dropover {
	background-color: #cff;
	color: #9cc;
}
#files:empty::before {
	color: #ccc;
	content: "(Files data will be shown here.)";
}
#files img {
	border: solid 1px #ccc;
	cursor: pointer;
	height: auto;
	margin: 0 10px;
	max-height: 128px;
	max-width: 128px;
	width: auto;
}
li {
	float: left;
}